.Navbar{
    display:flex;
    background-color: black;
    height:80px;
    width:auto;
}
.left{
    height:80px;
    width:30%;
    color:black;
    background-color: aliceblue;
  
}


.right{
    display:flex;
    gap:20px;
    font-size:14px;
    color:white;
    padding:20px;
    margin-left:40%;

}

.shop:hover{
    background-color: aqua;
    font-size: 17px;
}

.top{
    height: 20px;
    width:auto;
    background-color:rgb(255, 250, 181);
    color:black;
}

.body{
    height:460px;
    width:auto;
    border:1px transparent;
    margin-top: 1%;
   
   
}
.body>img{
     height:460px;
    width:100%;

}
.body:hover img{
    transform:scale(1.25);
}


.footer{
    background-color:rgb(255, 248, 147);
    height:40px;
    width:auto;
    color:black;
    margin:auto;
    margin-top:3%;
}
.payfoot{
    background-color:rgb(255, 248, 147);
    height:40px;
    width:auto;
    color:black;
    margin:auto;
    margin-top:7%;
}
.pay{
    margin:auto;
    height:200px;
    width:40%;
    font-size: 17px;
    margin-top:50px;
    border: 2px solid black;
    padding:50px;
}
.btn{
    height: 50px;
    width:200px;
    background-color: rgb(44, 90, 241);
    color:black;
    margin:auto;
    border:transparent;
    margin-left:43%;
    margin-top: 2%;
}
.btn:hover{
    
    background-color: rgb(226, 24, 24);
    
}


