.Navbar{
    display:flex;
    background-color: black;
    height:80px;
    width:100%;
}
.label{
    margin-left:6%;
    font-weight:700;
}
.left{
    height:80px;
    width:40%;
    color:black;
    background-color: aliceblue;
  
}


.right{
    display:flex;
    gap:15px;
    font-size:14px;
    color:white;
    padding:20px;
    margin-left:40%;
    width:60%;
    
    background-color: black;

}

.shop:hover{
    color: blueviolet;
    transform:scale(1.25);
}

.top{
    height: 20px;
    width:auto;
    background-color:rgb(255, 250, 181);
    color:black;
    
}


.body{
    height:460px;
    width:auto;
    border:1px transparent;
    margin-top: 1%;
   
   
}
.body>img{
     height:460px;
    width:100%;

}
.body:hover img{
    transform:scale(1.25);
}


.footer{
    background-color:rgb(255, 248, 147);
    height:40px;
    width:100%;
    color:black;
    margin:auto;
    margin-top:3%;
}

.cc{
    height:500px;
    width:100%;
    border: transparent 1px solid;
    margin-top:1%;
    background-color: pink;
}
.pay{
    margin:auto;
    height:200px;
    width:40%;
    font-size: 17px;
    margin-top:50px;
    border: 1px solid aliceblue;;
    padding:50px;
    background-color: white;
}
.payfoot{
    background-color:rgb(255, 248, 147);
    height:40px;
    width:auto;
    color:black;
    margin:100%;
    margin-top:7%;
}
.btn{
    height: 50px;
    width:200px;
    background-color:rgb(192, 219, 243);
    color:black;
    margin:auto;
    border:transparent;
    margin-left:43%;
    margin-top: 2%;
}
.btn:hover{
    
    background-color: rgb(59, 214, 235);
    transform:scale(1.25);
    
}
/* media queries */
/* 
@media (max-width: 768px) {
    .top { 
     display:none;
     position: absolute;
     background-color:teal;
     right: 0;
     left: 0;
     text-align: center;
     padding: 16px 0;
    }
    /* .menu li:hover {
     display: inline-block;
     background-color:#4c9e9e;
     transition: 0.3s ease;
    }
    .menu li + li {
     margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
     display: block;
    }
    .hamburger {
     display: block;
    }
    .dropdown {
     left: 50%;
     top: 30px;
     transform: translateX(35%);
    }
    .dropdown li:hover {
     background-color: #4c9e9e;
    }
    } */ 
    .cardiv{
        flex: 4;
        height: 300px;
        margin-top: 6%; 
    }
    .imgdiv img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .carsdiv{
        height: 300px;
    }
    .griddiv{
        display:grid;
        grid-template-columns:repeat(3,1fr);
        gap:20px;
        text-align: centre;
        margin-top: 30px;
    }
    
    .productdiv:hover{
        background-color: lavender;
    }
    @media screen and (max-width: 820px) {
        .cardiv{
            margin-top: 10%;
            flex:3;
        }
      }
      @media screen and (max-width: 390px) {
        .cardiv{
            margin: 10px;
            flex: 50 1;
            margin-top: -10%;
        }
        .imgdiv img{
            width: 148%;
            height: 268px;
            object-fit: contain;
        }
        .carsdiv{
            height: 200px;
        }
        .eAyARa{
            display: none;
        }
        .eWjCzc{
            display: none;
        }
        .griddiv{
            display:grid;
             grid-template-columns:repeat(1,1fr);
              gap:20px;
                margin-top: 30px;
        }
      }
      @media screen and (max-width: 420px) {
        .cardiv{
            margin: 10px;
            flex: 50 1;
            margin-top: -5%;
        }
        .imgdiv img{
            width: 148%;
            height: 268px;
            object-fit: contain;
        }
        .carsdiv{
            height: 200px;
        }
        .eAyARa{
            display: none;
        }
        .eWjCzc{
            display: none;
        }
        .griddiv{
            display:grid;
             grid-template-columns:repeat(1,1fr);
              gap:20px;
                margin-top: 30px;
        }
      }
      .detail{
          height:400px;
          width:650px;
          border: 1px solid transparent;
          margin-left:4%;
          margin-top:3%;
          display:flex;
          gap:10px;
          background-color: rgb(248, 250, 252);
          

      }
      .imgx{
          height:100;
          width:40%;
          border:1px solid transparent;
      }
      .detail2{
        height:100;
        width:60%;
        border:1px solid transparent;
      }

      
      .body1{
        height:400px;
        width:auto;
        border:1px transparent;
        margin-top: 1%;
        background-color: rgb(248, 217, 222);
       
       
    }

    /* CHECKOUT */
    .form{
        height:400px;
        width:500px;
        border:1px transparent;
        display:flex;
        margin:auto;
        gap:40px;
        flex-direction:column;
    }
    .input{
        height:30px;
        width: 450px;
    }
    .btn1{
        height: 50px;
        width:150px;
        background-color:rgb(192, 219, 243);
        color:black;
        margin:auto;
        border:transparent;
        margin-left:35%;
        margin-top: 1%;
    }
    .btn1:hover{
       background-color:rgb(57, 204, 204);
    }
    /* CART */
 .cart{
    height :"60px" ;
     width:"100%" ;
    display:"flex";
     gap:"30px";
     border:1px solid black;
       background-color:"black" ;
         
 }   